<h2>Tu aplicaci&oacute;n de <span>iPhone</span> y <span>android</span> para conocer la calidad del aire de tu zona</h2>
<div class="devices">
  <img src="/assets/phones.png" alt="Telefonos" />
</div>
<div class="box">
  <div id="map_canvas" class="map"></div>
  <div class="legend">
    <span>Leyenda del mapa:</span>
    <img src="/assets/legend.png" alt="Leyenda" />
  </div>
  <form>
    <input id="cp" type="text" />
    <label for="cp">Introduce tu c&oacute;digo postal y conoce la calidad del aire de tu zona</label>
  </form>
</div>
