<div class="devices">
  <img src="/assets/phones.png" alt="Telefonos" />
</div>
<div class="box">
  <div id="map_canvas" class="map"></div>
  <div class="legend">
    <span>Leyenda del mapa:</span>
    <ul>
      <li><img src="/assets/legend_good.png" alt="Bueno" /><br />Bueno</li>
      <li><img src="/assets/legend_regular.png" alt="Regular" /><br />Regular</li>
      <li><img src="/assets/legend_bad.png" alt="Malo" /><br />Malo</li>
      <li><img src="/assets/legend_off.png" alt="No Disponible" /><br />No Disponible</li>
    </ul>
  </div>
  <%= form_for :user, :url => search_path, :method => :get do |form| %>
    <%= form.text_field :zip_code, :class => "zip_code" %>
    <%= form.label :zip_code, "Introduce tu código postal y conoce la calidad del aire de tu zona" %>
  <% end  %>
</div>
