/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

html, body {
	color:#284512;
	font-family:"Harabara";
	letter-spacing:1px;
}

.wrapper {
	margin:0 auto;
	width:980px;
}

a {
	color:#34410a;
	text-decoration:none;

	&:hover { text-decoration:underline; }
}

h1.logo {
	font-size:100%;
	text-indent:-9000px;
	text-decoration:none;
	
	a {
		background:url(/assets/logo.png) no-repeat;
		display:block;
		height:200px;
		margin:0 auto;
		width:513px;
	}
}

h2 {
	font-size:1.5em;
	text-align:center;
}

form {
	margin:30px 0 10px 0;

	label {
		font-size:1.2em;
		font-weight:bold;

		&.email {
			color:#9bba36;
			display:inline-block;
			width:400px;
		}
	}

	input {
		font-size:1.1em;
		padding:5px 10px;

		&.zip_code {
			margin-right:20px;
			width:100px;
		}
		&.email {
			float:right;
			width:270px;
		}
	}

	&.subscribe { clear:both; }
}

.clear { clear:both; }

.header {
	background:#e9f0f9;
	border-bottom:#ebeaeb 4px solid;
	height:210px;
}

.footer {
	background:#e9f0f9;
	border-top:#ebeaeb 4px solid;
	height:80px;	
	padding:10px;

	p {
		color:#666666;
		line-height:22px;
	}

	h1.logo {
		float:right;

		a {
			background:url(/assets/logo_footer.png) no-repeat;
			height:70px;
			width:180px;
		}
	}
}

.content {
	padding:25px 10px;

	.devices {
		padding:25px 0 10px 0;
		text-align:center;
	}

	.box {
		margin:0 auto;
		width:700px;

		.map {
			border:#333333 solid 2px;
			height:350px;
		}

		.legend {
			padding:20px 0;
			text-align:center;

			span {
				line-height:80px;
				vertical-align:top;
			}

			ul {
				display:inline;

				li {
					display:inline-block;
					text-align:center;
					width:100px;
				}
			}

			&.small {
				text-align:right;
				
				ul {
					display:inline;

					li {
						font-size:0.76em;
						width:78px;

						img { width:48px;	}
					}
				}
			}
		}

		.status {
			color:#9bba36;
			font-size:1.2em;
			line-height:22px;
			min-height:80px;
			padding:15px 0 0 105px;

			&.good { background:url(/assets/legend_good.png) no-repeat 25px 5px; }
			&.regular { background:url(/assets/legend_regular.png) no-repeat 25px 5px; }
			&.bad { background:url(/assets/legend_bad.png) no-repeat 25px 5px; }
			&.off { background:url(/assets/legend_off.png) no-repeat 25px 5px; }

			span { color:#284512; }
		}

		.share {
			font-size:1.2em;
			line-height:22px;
			padding:20px 0;

			.share_icons {
				float:left;

					a {
					display:block;
					height:54px;
					text-indent:-9000px;
					width:55px;

					&.facebook { background:url(/assets/facebook.png) no-repeat; }
					&.twitter { background:url(/assets/twitter.png) no-repeat; }
				}
			}

			.share_text {
				float:right;
				padding-top:30px;
			}
		}
	}
}