<!DOCTYPE html>
<html>
<head>
  <title>AtmoosServer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body onload="initializeMap();">
  <div class="header">
    <div class="wrapper">
    	<h1 class="logo"><a href="/" title="atmoos">atmoos</a></h1>
    </div>
  </div>

  <div class="content">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="wrapper">
    	<h1 class="logo"><a href="http://wufoo.com/">Wufoo</a></h1>
    	<p>
    	  <strong>atmoos</strong> 路 <a href="http://kalimatec.com">Kalima Technologies S.L.</a> 路 Gran Canaria, Espa&ntilde;a
    	</p>
    	<p>
      	<a href="/team">Nuestro Equipo</a> 路
      	<a href="/contact">Contacto</a> 路
      	<a href="/help">Ayuda</a>
    	</p>
    </div>
  </div>
</body>
</html>
