<!DOCTYPE html>
<html>
<head>
  <title>AtmoosServer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="wrapper">
      <h1 id="logo">
        <a href="/">
          <img src="/assets/logo.jpg" alt="atmoos" />
        </a>
      </h1>
    </div>
  </div>

  <div class="content">
    <div class="wrapper">
      <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="wrapper">
    </div>
  </div>
</body>
</html>
